body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

section {
  margin-bottom: 20px;
}

label, td {
  text-wrap: nowrap;
}

input {
  padding: 5px;
  text-align: right;
}



